Examples/Python/data/jsontrans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:test="urn:org:pesc:message:test" targetNamespace="urn:org:pesc:message:test">
	<xs:element name="element1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="element2" type="test:element2Type" maxOccurs="unbounded"/>
				<xs:element name="element3" type="test:element3Type"/>
				<xs:element name="element4" type="test:element4Type"/>
				<xs:element name="element5" type="test:element5Type"/>
				<xs:element name="element6" type="test:element6Type"/>
				<xs:element name="element7" type="test:element7Type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="element2Type">
		<xs:list itemType="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="element3Type" >
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attribute1" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="element4Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attribute2" type="xs:integer" use="required"/>
				<xs:attribute name="attribute3" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="element5Type">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="element6Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="element7Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attribute4" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
